<div class="article_title" style="padding: 3% 10% 0 10%;">
    <span class="symbol"></span>
    <h2>活動日期</h2>
    <div class="event_txt">
        2020/06/18~2020/06/30<br />
    </div>
</div>

<div class="article_title" style="padding: 3% 10% 0 10%;">
    <span class="symbol"></span>
    <h2>活動一</h2>
    <div class="event_txt">
        買Ryzen 9/7 3000系列CPU 搭 B550任一品牌主機板，現場即可獲得 AMD經典防水郵差包 數量有限，送完為止(市價 $790)
    </div>
</div>

<div class="article_title" style="padding: 3% 10% 0 10%;">
    <span class="symbol"></span>
    <h2>活動二</h2>
    <div class="event_txt">
        買Ryzen 9/7 3000系列CPU 搭 B550任一品牌主機板，網站登錄資料即可抽 AMD Ryzen 電競椅(限量3名;市價; $8,990)、B550主機板(限量8名)
    </div>
</div>

<div class="article_title" style="padding: 3% 10% 0 10%;">
    <span class="symbol"></span>
    <h2>產品型號</h2>
    <div class="event_txt">
        Ryzen 9 3950X/3900X<br />
        Ryzen 7 3800X/3700X
    </div>
</div>

<div class="article_title">
    <span class="symbol"></span>
    <h2>品牌活動</h2>
    <div class="event_txt">
        <table style="width: 100%;" class="text-center">
            <tr>
                <td style="width: 50%;">
                    <a href="https://www.asus.com/tw/events/infoM/activity_B550_Launch/" target="_blank"><img class="img-responsive" src="~/images/logo_rog.png" /></a>
                </td>
                <td style="width: 50%;">
                    <a href="https://tw.aorus.com/event-detail.php?i=1505" target="_blank"><img class="img-responsive" src="~/images/logo_aorus.png" /></a>
                </td>
            </tr>
            <tr><td>買B550登錄送無線充電盤</td><td>技嘉B550重磅昇起</td></tr>
            <tr>
                <td>
                    <a href="https://www.asrock.com/mb/index.tw.asp" target="_blank"><img class="img-responsive" src="~/images/logo_asrock.png" /></a>
                </td>
                <td>
                    <a href="https://twstore.msi.com/edm/sales21.aspx?prjid=64&utm_source=google&utm_medium=cpc&utm_campaign=1090526msi_name1&gclid=Cj0KCQjwoaz3BRDnARIsAF1RfLdiywx-NpX1XOWVD0BeqBJ_AG6nQjMqDqXtGr8PdZnBrmSFnaz_bQMaAhxDEALw_wcB" target="_blank"><img class="img-responsive" src="~/images/logo_msi.png" /></a>
                </td>
            </tr>
            <tr><td>Asrock B550活動</td><td>msi B550活動</td></tr>
        </table>
    </div>
</div>

<div class="article_title">
    <span class="symbol"></span>
    <h2>資料填寫</h2>
</div>
<form name="applyInfo" ng-submit="applyInfo.$valid && $root.apply()">
    <div class="text_box section">
        <div class="text_section">
            <span>姓名：</span>
            <input type="text" name="UName" ng-model="request.UName" required />
        </div>
        <div class="text_section">
            <span>連絡電話：</span>
            <input type="text" name="UPhone" ng-model="request.UPhone" required />
        </div>
        <div class="text_section">
            <span>地址：</span>
            <input type="text" name="UAddress" ng-model="request.UAddress" required />
        </div>
        <div class="text_section">
            <span>E-mail：</span>
            <input type="email" name="UEmail" ng-model="request.UEmail" required />
        </div>
        <div class="text_section">
            <span>發票號碼：</span>
            <div ng-messages="applyInfo.UInvoice.$error" style="display:inline; color:crimson;">
                <span ng-message="pattern">請輸入正確發票格式</span>
            </div>
            <input type="text" name="UInvoice" ng-model="request.UInvoice" ng-pattern="'^[a-zA-Z]{2}[0-9]{8}$'" maxlength="10" placeholder="英文2碼+數字8碼" required />
        </div>
        <div class="text_section">
            <span>CPU序號(套裝機不用) ：</span>
            <a data-fancybox="cpu" href="~/images/cpu_example.jpg">點擊看範例</a>
            <input type="text" name="UCPUSN" ng-model="request.UCPUSN" placeholder="SN後面13碼" />
        </div>
        <div class="text_section">
            <span>CPU型號：</span>

            <select name="UCPUType" ng-model="request.UCPUType">
                <option value="">選擇型號</option>
                <option>Ryzen 9 3950X/3900X</option>
                <option>Ryzen 7 3800X/3700X</option>
            </select>
        </div>
        <div class="text_section">
            <span>購買店家：</span>
            <input type="text" name="UBuyStore" ng-model="request.UBuyStore" />
        </div>
        <div class="text_section">
            <span>CPU盒裝照片上傳：</span>
            <a data-fancybox="cpu" href="~/images/cpu_example.jpg" title="範例" target="_blank">點擊看範例</a>
            <label class="btn" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                {{ request.CPUFile.name }}<span ng-show="request.CPUFile === undefined">上傳照片</span>
                <input name="UCPUPhoto" ng-model="request.CPUFile" type="file" class="hidden" accept="image/*" />
            </label>
        </div>
        <div class="text_section">
            <span>發票照片上傳：</span>
            <a data-fancybox="invoice" href="~/images/invoice_example.jpg" title="範例" target="_blank">點擊看範例</a>
            <label class="btn" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                {{ request.InvoiceFile.name }}<span ng-show="request.InvoiceFile === undefined">上傳照片</span>
                <input name="UInvoicePhoto" ng-model="request.InvoiceFile" type="file" class="hidden" accept="image/*" />
            </label>
        </div>
        <div class="check_section">
            <input id="agree" type="checkbox" ng-model="request.agree" required />
            <label for="agree">我同意以上內容送出</label>
        </div>
    </div>
    <div class="btn_box">
        <button class="btn">送出</button>
    </div>
</form>

<div class="article_title">
    <span class="symbol"></span>
    <h2>注意事項</h2>
</div>
<ul class="note">
    <li>1.同一申請人僅限申請一份，如欲申請第二份以上之活動贈品，恕無法取消。申請資料（如申請人、市內電話、手機..等）任一資料於本活動申請兩筆以上，或相同資料之重覆登錄等類似，將視為同一申請人。</li>
    <li>2.水貨 & 大批採購者不適用本活動。</li>
    <li>3.請確認申請資料皆符合注意事項所有說明，再進行申請步驟，以免影響您的權益。</li>
    <li>4.活動即日起至本活動網頁註冊個人資料申請。(活動終止截止日期：2020/06/30 23:59)。</li>
    <li>5.參加本活動時，請上傳產品發票照片及產品序號照片。發票規範請詳注意事項第3點。(發票日期需為2020/06/19 至 2020/06/30)。</li>
    <li>6.本活動服務信箱：amdevent@saintmen.com。</li>
</ul>
