<div class="article_title" style="padding: 3% 10% 0 10%;">
    <span class="symbol"></span>
    <h2>得獎名單</h2>
    <div class="event_txt">
恭喜以下幸運兒!!!!AMD客服將會與您聯繫<br />
<br />
AMD RYZEN Threadripper 3990X<br />
宋O娥      陳O珍<br />
王O定      黃O穎<br />
勞O毅<br />
<br />
AMD X570 MB <br />
夏O榮      鄧O婷<br />
郭O斌      黃O育<br />
林O玉      李O希<br />
胡O婷      胡O彥<br />
林O山      李O君<br />
<br />
記憶體 <br />  
蔡O均      劉O如 <br />
謝O慧      楊O琪 <br />
楊O苓 <br />
<br />
固態硬碟<br />
楊O裕      李O軒<br />
鐘O茵      盧O豪<br />
吳O竹      <br />
<br />
CPU散熱器 <br />
杜O婷      駱O鈴<br />
王O雯      蔡O傑<br />
陳O琇      趙O秋<br />
張O臻      周O廷<br />
葉O玲      孫O雅<br />
<br />
機殼   <br />
賴O雯      吳O誠<br />
賴O雯      韓O怡<br />
熊O琪      龐O汝<br />
袁O劭      賴O甄<br />
蘇O芬      周O儀<br />
<br />
</div>
</div>

<div class="article_title" style="padding: 3% 10% 0 10%;">
    <span class="symbol"></span>
    <h2>活動辦法</h2>
    <div class="event_txt">凡購買AMD CPU指定型號，網站登錄後有機會獲得大獎等好禮！(數量有限)</div>
</div>

<div class="article_title">
    <span class="symbol"></span>
    <h2>活動CPU型號</h2>
    <div class="event_txt">
        TR 3990X / TR 3970X / TR 3960X<br />
        R9 3950X / R9 3900X<br />
        R7 3800X / R7 3700X<br />
        R5 3600X / R5 3600 / R5 3500X / R5 3400G<br />
        R3 3200G
    </div>
</div>

<div class="article_title">
    <span class="symbol"></span>
    <h2>活動獎品</h2>
    <div class="event_txt">
        AMD Ryzen Threadripper 3990X 5顆<br />
        AMD X570主機板 10片(不限品牌)<br />
        記憶體 5組<br />
        固態硬碟 5組<br />
        CPU 散熱器 10組<br />
        機殼 10組
    </div>
</div>

<div class="article_title">
    <span class="symbol"></span>
    <h2>配合經銷商</h2>
    <a href="javascript:void(0)" data-toggle="modal" data-target="#partner">詳細請按</a>
</div>


<div class="article_title">
    <span class="symbol"></span>
    <h2>注意事項</h2>
</div>
<ul class="note">
    <li>1.同一申請人僅限申請一份，如欲申請第二份以上之活動贈品，恕無法受理。申請資料（如申請人、聯絡人、買受人、市內電話、手機、地址等）任一資料於本活動申請兩筆以上，或相同資料之重覆登錄、相同地址不同公司等情形，將視為同一申請人。憑一張發票僅兌換一項贈品。</li>
    <li>2.憑一張發票僅兌換一項贈品。</li>
    <li>3.水貨 & 大批採購者不適用本活動。</li>
    <li>4.請務必確認申請資料皆符合注意事項所有說明，再進行申請步驟，以免影響您的權益。</li>
    <li>5.2020/2/1起至本活動網頁註冊個人資料申請。(最遲需於 2020/3/27 23:00前完成活動註冊)。</li>
    <li>6.參加本活動時，請上傳產品發票照片及產品序號照片。發票規範請詳注意事項第3點。(發票日期需為2020/2/1 至 2020/3/27)。</li>
    <li>7.活動受理截止日期：2020/3/31。</li>
    <li>8.活動抽獎時間 4/17(五)</li>
    <li>9.本活動服務信箱：amdevent@saintmen.com。</li>
</ul>
