<div class="article_title">
    <span class="symbol"></span>
    <h2>品牌加碼區</h2>
</div>
<div class="text_box text-center">
    <a href="https://www.asus.com/tw/"><img src="~/images/logo_asus.png" style="width:30%;display:inline;" /></a>
    <a href="https://tw.msi.com/"><img src="~/images/logo_msi.png" style="width:30%;display:inline;" /></a>
    <a href="https://www.gigabyte.com/tw"><img src="~/images/logo_gigabyte.png" style="width:30%;display:inline;" /></a>
    <a data-fancybox="seagate" href="~/images/logo_seagate.png"><img src="~/images/logo_seagate.png" style="width:30%;display:inline;" /></a>
    <a data-fancybox="tforce" href="~/images/logo_tforce.png"><img src="~/images/logo_tforce.png" style="width:30%;display:inline;" /></a>
</div>
<div class="text_box">
    <img src="~/images/single-bonus_1200x400.jpg" />
</div>
<div class="article_title">
    <span class="symbol"></span>
    <h2>注意事項</h2>
</div>
<div class="text_box">
    <ul>
        <li>1.符合XBOX遊戲兌換、Game Bundle遊戲兌換者，即有資格參與加碼抽活動。</li>
        <li>2.活動日期：2019/09/30-2019/12/31。</li>
        <li>3.活動結束後兩週內抽出得獎名單。</li>
        <li>4.T-Force加碼 發票內含有指定型號CPU + T-Force RGB系列記憶體，即可獲得T-Force獨家贈品(T-183工具隨身碟32GB)。</li>
        <li>5.Seagate加碼 發票內含有指定型號CPU + Seagate SSD全，系列即可獲得Seagate獨家贈品。</li>
    </ul>
</div>
<div class="text_box">
    <img style="width:75%;" src="~/images/table20191031.jpg" />
</div>
<div class="article_title" style="padding: 3% 10% 0 10%;">
    <span class="symbol"></span>
    <h2>活動時間</h2>
    <div class="event_txt">2019/09/30-2019/12/31。</div>
</div>
<div class="article_title" style="padding: 3% 10% 0 10%;">
    <span class="symbol"></span>
    <h2>活動辦法</h2>
    <div class="event_txt">符合XBox遊戲兌換、Game Bundle遊戲兌換者，即有資格參與加碼抽活動。</div>
</div>
